body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

@color-azul-claro: #4f87ef;
@color-azul-escuro: #0e77c8;
@color-vermelho-escuro: #F80000;

/* Topo */
.brand{
    height: 20px;
    margin-top: 0px;
    #icone-principal{
        //margin-top: 2px;
        margin-right: 7px;
        float: left;
    }
    #titulo-principal{
        display: block;
        width: 200px;
        position: relative;
        top: 2px;
    }
}

.navbar .navbar-inner{
    margin-top: 0px;
    background-color: @color-azul-escuro;
    background-image: none;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
    margin-top: 0px;
    background-color: @color-azul-claro;
}

h1, h2, h3, h4, h5, legend{
    color: @color-azul-escuro;
}

/* Formulário */

fieldset{
    height: 400px;
    width: 400px;
}

textarea{
    height: 200px;
    width: 350px;
    resize: none;
}

#adiciona_itens{
    margin-left: 135px;
}

/* Ícones usados */

.icon-edit{
    background-color: @color-azul-escuro;
}

.icon-remove{
    background-color: @color-vermelho-escuro;
}

.icon-chevron-right{
    background-color: @color-azul-escuro;
}

/* Sub-Listas */

#sublistas{
    position: relative;
    li{
        display: block;
    }
    hr{
        margin-top: 2px;
        margin-bottom: 2px;
    }
}


/* Itens */

#itens{
    position: relative;
    
    li{
        display: block;
    
        .item-body{
        }
        
        .item-opcoes{
            float: right;
            b{ /*Barra entre as opcões*/
                color: @color-azul-escuro;
            }
        }
        
        .form-put, .form-delete{
            display: inline;
        }
        
        .form-put{
            margin-bottom: -5px;
            .btn{
                position: relative;
                left: 2px;
                top: -5px;
            }
        }
    }
    hr{
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

