{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="container">

	<p class="home-p">
		Esse site serve para criar rapidamente listas de itens, facilmente compartilhaveis e agrupáveis.
	</p>
	
	<p class="home-p">
		Digite na barra de endereço quantas complementos quiser você quiser, por exemplo: <a class="link-with-server">bruzzi/aniversarios/2012/</a>
	</p>
	<p class="home-p">
		E depois adicione, altere e delete itens utilizando um formulário intuitivo.<br />
        Itens repetidos são automaticamente excluídos e endereços web viram automaticamente links.
	</p>
	<p class="home-p">
		Para criar ainda mais rapidamente a sua primeira lista, utilize o formulário abaixo:
	</p>
	
	<form class="form-adicionar-nova-lista">
		<fieldset>
			<legend>Preencha o campo com o nome da sua lista</legend>
			<input type="text" class="nova-lista" />
			<input type="button" class="btn btn-primary btn-small adicionar-nova-lista" value="Cria Lista" />
		</fieldset>
	</form>
    
    <p>
        Criado por Guilherme Heynemann Bruzzi e mantido o código em: https://github.com/guilhermebruzzi/listas-publicas
    </p>

</div>

{% endblock %}
{% block js %}<script src="/js/listas.js" type="text/javascript"></script>{% endblock %}
