{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="container">

	<p class="home-p">
		Esse site serve para criar rapidamente listas de convidados, facilmente compartilháveis e agrupáveis.
	</p>
	<p class="home-p">
		É possível adicionar, alterar e deletar convidados utilizando um formulário intuitivo, podendo também importar de eventos do facebook e do listaamiga.com.<br />
        Nomes repetidos não são adicionados.
	</p>
	<p class="home-p">
		Começe a organizar a sua lista de convidados imediatamente:
	</p>
	
	<form class="form-adicionar-nova-lista">
		<fieldset>
			<legend>Preencha o campo com o nome da sua lista</legend>
			<input type="text" class="nova-lista" />
			<input type="button" class="btn btn-primary btn-small adicionar-nova-lista" value="CRIAR LISTA" />
		</fieldset>
	</form>
    
    <p>
        Criado por Guilherme Heynemann Bruzzi e mantido o código em: <a href="https://github.com/guilhermebruzzi/listas-publicas">https://github.com/guilhermebruzzi/listas-publicas</a>
    </p>

</div>

{% endblock %}
{% block js %}<script src="/js/listas.js" type="text/javascript"></script>{% endblock %}
