{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="container">
    <h1> {{ title }} </h1>

    <br />

    <div id="sublistas">
        <h3>Sub-Listas:</h3><br />
        {% for sublista in sublistas %}
            <div class="row">
                {% if (loop.index % 2) == 0 %}
                    <li id="sublista{{ loop.index }}" class="par offset1 span8">
                {% else %}
                    <li id="sublista{{ loop.index }}" class="offset1 span8">
                {% endif %}
                        <div class="sublista-body span6">
                            <i class="icon-chevron-right icon-white"></i>
                            &nbsp;
                            <b><a href="/listas-publicas/{{ sublista.slug }}">{{ sublista.nome }}</a></b>
                        </div>
                    </li>
            </div>
            <hr class="offset1 span5" />
        {% endfor %}
    </div>
    
    <br />

    <div id="itens">
        <h3>Itens:</h3><br />
        {% for item in itens %}
            <div class="row">
                {% if (loop.index % 2) == 0 %}
                    <li id="item{{ loop.index }}" class="par offset1 span8">
                {% else %}
                    <li id="item{{ loop.index }}" class="offset1 span8">
                {% endif %}
                        <div id="item-opcoes{{ loop.index }}" class="item-opcoes span2">
                            <a class="editar" href=""><i class="icon-edit icon-white"></i></a>
                            <b>&nbsp;/&nbsp;</b>
                            <a class="excluir" href=""><i class="icon-remove icon-white"></i></a>
                        </div>
                        <div class="item-body span5">
                            <i class="icon-chevron-right icon-white"></i>
                            &nbsp;
                            <b>{{ item.nome }}</b>
                        </div>
                    </li>
            </div>
            <hr class="offset1 span7" />
        {% endfor %}
    </div>
    
    <br />
    
    <form method="post" action="" class=".form-vertical">
        <h3>Adicione Itens:</h3><br />
        <textarea name="novos_itens" class="focused"></textarea><br />
        <input type="submit" id="adiciona_itens" name="adiciona_itens" class="btn btn-primary btn-large" value="Adicionar" />
    </form>


</div>

{% endblock %}

